<div>
		<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" >
  
		
				<mat-form-field class="example-full-width">
						<input matInput [matDatepicker]="picker"  [formControl]="profileForm.controls['startDate']" (dateChange)="formatDate('startDate',$event)" placeholder="Start Date" required>
						<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
						<mat-datepicker #picker></mat-datepicker>
				</mat-form-field>
			
				  
			<div class="wrap-endDate-submit">
				<mat-form-field class="example-full-width">
						<input matInput [matDatepicker]="picker2"  [formControl]="profileForm.controls['endDate']" (dateChange)="formatDate('endDate',$event)" placeholder="End Date" required>
						<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
						<mat-datepicker #picker2></mat-datepicker>
				</mat-form-field>
			
				<button mat-raised-button color="primary" type="submit" [disabled]="!profileForm.valid">Submit</button>
			</div>	
		 </form>
		 
		<p>
			Form Status: {{ profileForm.status }}
		</p>
			 
	<span class="search-input">
		<mat-form-field class="example-full-width">
			<input type="text" #searchBox id="search-box" matInput placeholder="Search Asteroid" [(ngModel)]="searchValue" (ngModelChange)="onChange()"/>
		</mat-form-field>

	</span>
	<button mat-stroked-button color="primary" (click)="resetAsteroids()">Reset</button>
</div>
