<div class="login-container">
	<form [formGroup]="loginForm" (ngSubmit)="signin()">
		<label>
			Email:
			<input type="text" formControlName="email" required>
		</label>

		<label>
			Password:
			<input type="text" formControlName="password" required>
		</label>

		<button type="submit" [disabled]="!loginForm.valid">Login</button>
	</form>
	<button (click)="signinWithGoogle()">Login With Google</button>

	<hr>


	<p>
		Form Value: {{ loginForm.value | json }}
	</p>
	<p>
		Form Status: {{ loginForm.status }}
	</p>

</div>
